<header class="sl-header">
  <div class="sl-header-top">
    <div class="sl-crest">Soulslike RPG</div>
  </div>

  <div class="sl-identity compact">
    <div class="sl-nameplate">
      <label class="sl-label" for="character-name">Character Name</label>
      <input id="character-name" class="sl-input sl-name" type="text" name="name" value="{{actor.name}}" placeholder="Nameless Knight" />
    </div>
  </div>
</header>
