name: Build and Release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      release_notes:
        description: Optional notes for the release
        required: false
        default: ''

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Get Version from package.json
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Zip dist Directory
        run: |
          cd dist
          zip -r ../soulslike.zip ./*

      - name: Update Latest Release
        id: update_latest_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          name: Latest
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: |
            ./dist/system.json
            ./soulslike.zip
          tag: latest
          body: ${{ github.event.inputs.release_notes }}

      - name: Create Version Release
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          name: Release ${{ steps.get_version.outputs.version }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: |
            ./dist/system.json
            ./soulslike.zip
          tag: ${{ steps.get_version.outputs.version }}
          body: ${{ github.event.inputs.release_notes }}
